{
    email admin@dlgtw.ru
}

dlgtw.ru {

    encode gzip

    header {
        -Server
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }

    handle /api/* {
        header Cache-Control "no-store"

        uri strip_prefix /api
        reverse_proxy backend:8000 {
            header_up X-Forwarded-Prefix /api
        }
    }

    handle {
        reverse_proxy frontend:3000
    }
}
